#words {
  width: 80%;
  padding: 3px;
  background-color: #ffaebc;
  font-family: "Courier New", Courier, monospace;
  border: 3px solid;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

#word_input {
  padding: 3px;
  border-radius: 5px;
  background-color: #b4f8c8;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: large;
  border: 3px solid;
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 55%;
}
#word_input:focus {
  background-color: #d2e5d0;
  border-color: #dcbaa9;
}

.buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

#clicky_1 {
  background-color: #a0e7e5;
  border-color: black;
  font-size: large;
  margin: 1em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 3px solid;
}
#clicky_1:hover {
  border-color: #d2e5d0;
}

body {
  background-color: #fbe7c6;
}
